<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>InputGurd.js</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 p-3">

                    <div class="card mb-3">
                        <div class="card-body">
                            <h3>Try to edit any attribute using your browser</h3>
                            <b>If You Delete A Protected Input Element, Page Will Refresh</b><br>
                            <b>Non Unique Id's Are Not Allowed</b><br>
                            <b>I Removed Attribute_lock From These Attributes</b>
                            <ul>
                                <li>Class</li>
                                <li>Style</li>
                            </ul>
                        </div>
                    </div>
                    <form id="login">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6>If You Need To Apply InputGurd To Specific Area You Must Try This</h6>
                                <div class="p-3 rounded" style='font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace; color: #567482;word-wrap: normal;background-color: #f3f6fa;border: solid 1px #dce6f0;'>
                                    $('#login').InputGurd();
                                </div>
                                <div class="form-group mt-2">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required="">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" required="">
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6> Add 'NoGurd' Attribute to prevent InputGurd</h6>
                                <div class="p-3 rounded" style='font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace; color: #567482;word-wrap: normal;background-color: #f3f6fa;border: solid 1px #dce6f0;'>
                                    &lt;input NoGurd ... &gt;
                                </div>
                                <div class="form-group mt-2">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input NoGurd type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required="">
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6>Add 'nt-' Prefixes to Attribute for prevent Attribute_Lock </h6>
                                <div class="p-3 rounded" style='font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace; color: #567482;word-wrap: normal;background-color: #f3f6fa;border: solid 1px #dce6f0;'>
                                    &lt;input nt-placeholder="Password" ... &gt;
                                </div>
                                <div class="form-group mt-2">
                                    <label for="exampleInputPassword2">Example : (PlaceHolder Attribute)</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2" nt-placeholder="Password" required="">
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6>Add 'unique-' Prefixes To Set Unique Attribute</h6>
                                <p>'unique-' Attribute Will Be Hide After First Run</p>
                                <div class="p-3 rounded" style='font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace; color: #567482;word-wrap: normal;background-color: #f3f6fa;border: solid 1px #dce6f0;'>
                                    &lt;input unique-ng-model ng-model="test" ... &gt;
                                </div>
                                <div class="form-group mt-2">
                                    <label for="exampleFormControlInput1">Email address</label>
                                    <input readonly="" type="email" unique-ng-model ng-model="gg" class="form-control" id="exampleFormControlInput10" placeholder="name@example.com">
                                </div>
                                <button type="submit" class="btn btn-primary" >Submit</button>
                            </div>
                        </div>
                    </form>
                    <form> 
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6>If You Need To Apply InputGurd To Specific Element</h6>
                                <div class="p-3 rounded" style='font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace; color: #567482;word-wrap: normal;background-color: #f3f6fa;border: solid 1px #dce6f0;'>
                                    &lt;input InputGurd ... &gt;
                                </div>
                                <div class="form-group mt-2">
                                    <label for="exampleFormControlInput1">Email address</label>
                                    <input InputGurd readonly="" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="js/InputGurd.js" ></script>
    <script>
                                        $('#login').InputGurd();
    </script>
</html>
